--[[
 * ${1:}
 * file description
 * @authors ${author} (${email})
 * @date    ${date}
 * @version \$Id\$
 * @Powerd by http://www.ieatmobile.cn/
 * @Copyright 2008-2014 SingingCicada co.,ltd. All  rights reserved	
--]]
$0