--[[
 * ${1:}
 * file description:obj templete
 * @authors ${author} (${email})
 * @date    ${date}
 * @version \$Id\$
 * @Powerd by http://www.ieatmobile.cn/
 * @Copyright 2008-2014 SingingCicada co.,ltd. All  rights reserved	
--]]
$0

--[[
	------------------------------------
		Area 1： declarations
	------------------------------------	
]]
local FileName = {} -- 首字母大写

local defaultArgs = {
}

--[[
	------------------------------------
		Area 2： local functions
		助手方法，不要公开的方法
	------------------------------------	
]]


--[[
	------------------------------------
		Area 3： init functions
		构造方法
	------------------------------------	
]]

function FileName:__init__(_rtAgent, _fatherNode, _args)
	_args = _args or defaultArgs
	self.list = _args.list
	self.rtAgent= _rtAgent
	self.fatherNode = _fatherNode
end

--[[
	------------------------------------
		Area 4： public functions
		公开的方法
	------------------------------------	
]]

--path.FileName
return define_type('gameui.FileName', FileName)