--[[
 * ${1:}
 * file description:game.logic templete
 * @authors ${author} (${email})
 * @date    ${date}
 * @version \$Id\$
 * @Powerd by http://www.ieatmobile.cn/
 * @Copyright 2008-2014 SingingCicada co.,ltd. All  rights reserved	
--]]
$0

--[[
	------------------------------------
		Area 1： declarations
	------------------------------------	
]]
local filename = {} -- 建议跟文件名字一样
local user = require("glogic.user")
local netHelper = require("glogic.netHelper")
local alert = require("gameui.tipbox")
--[[
	------------------------------------
		Area 2： local functions
		助手方法，不要公开的方法
	------------------------------------	
]]
--是否发生更改
local function check(data)
	printTable(data, 2)
	return true
end

--[[
	------------------------------------
		Area 3： get Funtions
		吐数据：filter & adatpter
		To:一般是ui_file
		from:一般是net or persistence or db
	------------------------------------	
]]

filename.getBag = function ( ... )
	return bag;
end

--[[
	------------------------------------
		Area 3： onEvens
		执行动作，doAction，写数据
		To：一般是net or persistence or db
		from：一般是ui_file
	------------------------------------	
]]
filename.set = function (list, cb)
	-- body
	if(check(list)) then
		return netHelper.send(function(data)
				alert.onConnected()
				if(data.err) then
				else
					--TODO
					cb()
				end
			end, "action", {
			})
	else
		cb()
	end
end

filename.onFire = function ( ... )

end
return filename